@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

.home-body {

    max-width: 100%;
    height: auto;
    padding: 0px;
    background-color: #fffde6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.home-content {
    text-align: center;
    max-width: 100%;
}

.gif-container {
    position: relative;
    text-align: center;
}

.gif-container img {
    width: 100%;
    max-width: 640px;
    height: auto;
}

.centered-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
}