/* KickingBrass.css */
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');

.kickingbrass-page {
    display: flex;
    max-width: 100%;
    height: fit-content;
    background-color: #1b0c2e;
}